.ai{
  .nlpBg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 547px;
    position: relative;
    .wrapper{
      height: 547px;
      position: relative;
      .nav-span{
        width: 288px;
        height: 134px;
        position: absolute;
        top:330px;
        width:300px;
        text-align:left;
        span{
          inline-height:66px;
          font-family:PingFangHK-Thin;
          font-size:48px;
          color:#000;
          text-align:left;
        }
        div{
          margin-left: 7px;
          width: 270px;
          font-family:PingFangSC-Medium;
          font-size:18px;
          color:#2b3540;
          text-align:left;
        }
      } 
    }
  }
  .nlp{
    height:722px;
    width:100%;
    .wrapper{
      height:722px;
      ul{
        margin-left:-20px;
        padding-top:54px;
        li{
          cursor: pointer;
          display:inline-block;
          float:left;
          margin-left:47px;
          margin-top:47px;
          width:350px;
          height:240px;
          .nlp-img{
            width:350px;
            height:144px;
          }
          .nlp-content{
            background:#f2f2f2;
            width: 350px;
            height: 96px;
            .nlp-title{
              padding-top:16px;
              text-align:center;
              font-family:PingFangSC-Medium;
              font-size:16px;
              color:#2b3540;
            }
            .nlp-introduce{
              padding:0 25px;
              font-family:MicrosoftYaHei;
              font-size:12px;
              color:#737580;
              line-height:18px;
              text-align:justify;
            }
          }
        }
      }
    }
  }
  .ccase{
    width: 100%;
    height: 314px;
    .wrapper{
      height: 314px;
      position: relative;
      .ccase-title{
        font-family:PingFangSC-Medium;
        font-size:28px;
        color:#484e58;
        text-align:center;
      }
      ul{
        position: relative;
        padding-top:18px;
        margin-left:-20px;
        li{
          margin-left:47px;
          display:inline-block;
          float:left;
          border:1px solid #dfdfdf;
          width:348px;
          height:189px;
          .form-title{
            /*font-weight:bold;*/
            padding:18px;
            font-family:PingFangSC-Medium;
            font-size:16px;
            color:#2b3540;
            text-align:center;
          }
          .form-content{
            padding:0 66px;
            font-family:MicrosoftYaHei;
            font-size:12px;
            color:#737580;
            line-height:22px;
            text-align:justify;
          }
        }
      }
    }
  }
}
